<div class="add-blog">
    <div class="blog-title-entry add-blog-sub">
        <div class="blog-entry-group">
            <label for="">Title</label>
            <input type="text">
        </div>
    </div>
    <div class="blog-text-entry add-blog-sub">
        <div class="blog-entry-group">
            
            <label for="">Content</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <div class="blog-entry-group">
                    <label for="">Tags</label>
                    <input type="text" placeholder="example: taxes, loans, accounting practices, services">
                </div>
            <div class="add-blog-buttons">
                <button>Submit</button>
                <button>Cancel</button>
            </div>
        </div>
    </div>
</div>