<header class="nav-bar">
    <h2 class="comp_name">W I C K E E P</h2>
    <h4 class="dscrptn">BOOKKEEPING FOR PHYSICAL AND OCCUPATIONAL THERAPY</h4>
    <div class="ham" ng-click="toggleNav()">
        <i class="fa fa-bars fa-lg"></i>
    </div>  
</header>
<div class="mobile-nav" ng-show="showNav">
    <div class="mobile-nav-item" ng-click="scrollTo('about-sec')">ABOUT</div>
    <div class="mobile-nav-item" ng-click="scrollTo('contact-sec')">CONTACT</div>
    <div class="mobile-nav-item" ui-sref="blog">BLOG</div>
</div>
<section class="sec1" id="home-sec">
    <nav class="nav_buttons">
        <!-- <div class="nav_button"><a ui-sref="/">HOME</a></div> -->
        <div class="nav_button" ng-click="scrollTo('about-sec')">ABOUT</div>
        <div class="nav_button" ng-click="scrollTo('contact-sec')">CONTACT US</div>
        <div class="nav_button" ui-sref="blog">BLOG</div>
    </nav>
    <img class="hero" src="./img/full-logo.svg" alt="">
</section>

<section class="sec2">
    <span class="about_span" id="about-sec">ABOUT US</span>
    <div class="wic_intro">
        <p class="about_text">
            Are you a Therapist looking for a way to elevate your business practice?
            Do you need someone who has your best interest at heart? Have you struggled to start or continue your practice
            because of finances?
            I help Physical and Occupational Therapists improve their finances.
        </p>
        <p class="about_text"`>
            You’re a Therapist not a bookkeeper. You want to focus on your job and your passion.
            I am a bookkeeper and a business owner. I want to do your bookkeeping and help improve the business portion
            of your practice so you can keep doing what you are good at.
            I’d love to help you and be your bookkeeper.
        </p>
    </div>
</section>
<div class="pic2">
</div>
<div class="sec3">
    <h4 class="contact-message">
        Please leave your info here if you would like us to contact you.
    </h4>
    <div class="contact-container" id="contact-sec">
        <form class="contact-form">
            <div class="contact-group">
                <label><i class="fa fa-user"></i> Name</label>
                <input type="text" name="name" placeholder="First Last">
            </div>
            <div class="contact-group">
                <label><i class="fa fa-envelope-o"></i> Email</label>
                <input type="text" name="email" placeholder="email@mail.com">
            </div>
            <div class="contact-group">
                <label><i class="fa fa-phone"></i> Phone</label>
                <input type="text" name="phone" placeholder="801-555-1234">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<footer>
    <div class="social-links">
        <div class="social-icon linkedin">
            <i class="fa fa-linkedin"></i>
        </div>
        <div class="social-icon facebook">
            <i class="fa fa-facebook"></i>
        </div>
        <div class="social-icon instagram">
            <i class="fa fa-instagram"></i>
        </div>
    </div>
    <div class="email">help@wickeep.com</div>
    <p class="copyright">Copyright 2017 Wickeep - <a href="http://www.lloydgrubham.com">Website by Lloyd Grubham</a></p>
</footer>