.blog-tile {
  margin-bottom: 10px;
  width: 90%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #AAA;
}

.title-area {
  width: 100%;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  /* border-bottom: 1px solid black; */
}
.title-area h2{
  cursor: pointer;
}

.content-area {
  display: flex;
}

.text-area {
  padding-left: 15px;
}

.blog-header {
  font-family: sans-serif;
  margin-top: -80px;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blogs-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 15px;
}

.blog-list {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.blog-description {
  margin-top: 10px;
}

.blog-sidebar {
  background-color: red;
  position: fixed;
  right: 14px;
  /* top: 80px; */
}
.nav-link{
  cursor: pointer;
}
.nav-link:hover{
  color: #AAA;
}

.blog-container{
  width: 100%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 25px;
}
.blog-hero{
  width: 100%;
}

.tag-container{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-self: left;
}

.tag-tile{
  padding: 5px;
  background-color: #444;
  color: white;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}

.tag-tile:hover{
  background-color: #222;
}