.admin-header{
    font-family: sans-serif;
    margin-top: -80px;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.admin-content{
    min-height: calc(100vh - 60px);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.admin-sidebar{
    color: white;
    background-color: #222;
    width: 100%;
}
.navlink{
    font-family: sans-serif;
    width: 100%;
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.navlink:hover{
    background-color: #333;
}

.add-blog{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.add-blog-sub{
    width: 90%;
    margin-bottom: 15px;
}

.blog-entry-group{
    display: flex;
    flex-direction: column;
}

.add-blog-buttons{
    margin-top: 15px;
}

.content-area{
    width: 100%;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 15px;
}

.content-container{
    width: 100%;
    display: grid;
    justify-items: center;
    margin-bottom: 25px;
}
.content-tile{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px rgba(20, 20, 20, 0.4);    
}
.content-tile img{
    width: min-content;
}

.content-area textarea{
    width: 100%;
    height: 100px;
    resize: none;
}

.table{
    margin-top: 15px;
    border: 1px solid #555;
}
.table-row{
    display: grid;
    grid-template-columns: 30px repeat(3, 1fr);
}
.table .table-list-row:nth-child(2n){
    background-color: #DDD;
}
.table .table-list-row:nth-child(2n):hover{
    background-color: #AAA;
}
.table-list-row:hover{
    background-color: #BBB;
}
.table-header{
    font-weight: bold;
    color: white;
    background-color: #111;
}

.table-cell{
    padding: 3px;
    display: flex;
    align-items: center;
}