<div class="content-area">
    <h2>Home Page Content:</h2>
    <div class="content-container">
        <div class="content-tile">
            <label>Hero Picture</label>
            <img src="https://unsplash.it/200/?random" alt="loading...">
            <br>
            <input type="file" id=""/>
        </div>
        <br>
        <hr/>
        <br>
        <div class="content-tile">
            <label>About Section</label>
            <textarea id=""></textarea>
            <br>
            <div>
                <button>Save</button>
                <button>Cancel</button>
            </div>
        </div>
        <br>
        <hr/>
        <br>
        <div class="content-tile">
            <label>Second Picture</label>
            <img src="https://unsplash.it/200/?random" alt="loading...">
            <br>
            <input type="file" id=""/>
        </div>

    </div>

</div>